---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";

const title = "Roly Reyes";
const blurb = [
  "being angry at the Windows Registry",
  "breaking my homelab",
  "making Docker containers",
  "obsessing over monospace typography",
  "reading a man page",
  "reinstalling Windows",
  "writing a shell script",
];
const fact = [
  "being sad I will never play Half-Life 3",
  "being the Neon Genesis Evangelion evangelist",
  "not doing cardio",
  "recommending horror fiction that will ruin your sleep cycle",
  "telling you to watch Cowboy Bebop",
  '"precise gameplay" in Tactical FPS Valorant',
  "unprompted praise of The Legend of Zelda: Breath of the Wild's interconnected systems and choseive world design",
];

const selectRandom = (arr) => {
  const randIndex = Math.floor(Math.random() * arr.length);
  return arr[randIndex];
};
---

<Layout title={title}>
  <section class="max-w-screen-md flex flex-col gap-3">
    <h1
      class="text-6xl font-black uppercase text-transparent bg-clip-text bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-indigo-200 via-slate-600 to-indigo-200"
    >
      <a href="/">{title}</a>
    </h1>
    <p class="font-mono font-medium">
      <!-- <span class="text-red-400">Infosec</span> | -->
      <span class="text-red-400">IT</span> |
      <span class="text-emerald-400">Automation</span> |
      <span class="text-blue-400">Operations</span>
    </p>
    <p class="max-w-prose">
      I'm an experienced, certified, and meticulous <span
        class="text-white font-semibold">System Administrator</span
      >. I do my best work when I'm <span class="text-zinc-200">
        architecting systems
      </span> and <span class="text-zinc-200">automating operations</span>. In
      my spare time you can catch me {selectRandom(blurb)}. I'm also known for {
        selectRandom(fact)
      }. Want to learn more? Check the links below!
    </p>
    <!-- <a href="/blog" class="font-bold text-green-400 decoration-2 underline-offset-4 hover:underline">lipsum link</a> -->
    <Socials />
  </section>
</Layout>
