---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import { get } from "./api/about.js";

const data = await get().then((res) => res.json());
---

<Layout>
  <section class="flex max-w-screen-md flex-col gap-3">
    <h1
      class="w-fit bg-gradient-to-r from-rose-400 via-blue-400 to-violet-500 bg-clip-text text-7xl font-black uppercase text-transparent"
    >
      <a href="/">Roly Reyes</a>
    </h1>
    <p class="font-mono font-medium">
      <span class="text-rose-400">InfoSec</span>
      <span class="text-neutral-700">|</span>
      <span class="text-cyan-400">IT</span>
      <span class="text-neutral-700">|</span>
      <span class="text-emerald-400">Automation</span>
      <span class="text-neutral-700">|</span>
      <span class="text-indigo-400">Operations</span>
    </p>
    <p class="max-w-prose">
      Experienced, certified, and detail-oriented <span
        class="font-bold text-white">Cyber Security Analyst</span
      > &
      <span class="font-bold text-white">System Administrator</span> specializing
      in <span class="text-zinc-200"> architecting infrastructure</span>
      and <span class="text-zinc-200">streamlining processes</span> via automation.
      <!-- Comfortable standing up new infrastructure or identifying gaps in existing processes to minimize downtime and improve security posture. -->
    </p>

    <p class="max-w-prose">
      In my spare time you can catch me {data.blurb}. I'm also known for {
        data.fact
      }.
    </p>

    <p class="max-w-prose">
      Refresh this page or click the links below to learn more!
    </p>
    <Socials />
  </section>
</Layout>
