---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";

const title = "Roly Reyes";
const blurb = [
  "being angry at Windows Registry",
  "breaking my homelab",
  "reading a man page",
  "containerizing a service",
  "obsessing over monospace typography",
  "reinstalling Windows",
  "writing a shell script",
];
const fact = [
  "being sad I will never play Half-Life 3",
  "being the Neon Genesis Evangelion evangelist",
  "not doing cardio",
  "recommending horror fiction that will keep you awake at night",
  "unprompted praise of The Legend of Zelda: Breath of the Wild's interconnected systems and choseive world design",
  "telling you to watch Cowboy Bebop",
  "the precise gameplay of Tactical FPS Valorant",
];

const selectRandom = (arr) => {
  const randIndex = Math.floor(Math.random() * arr.length);
  return arr[randIndex];
};
---

<Layout title={title}>
  <section class="max-w-screen-md flex flex-col gap-3">
    <h1 class="text-5xl font-black uppercase text-cyan-400">
      {title}
    </h1>
    <p class="font-mono font-medium">
      <!-- <span class="text-red-400">Infosec</span> | -->
      <span class="text-cyan-400">IT</span> |
      <span class="text-yellow-400">Automation</span> |
      <span class="text-green-400">Operations</span>
    </p>
    <p class="max-w-prose">
      I'm an experienced, certified, and meticulous <span class="text-white"
        >System Administrator</span
      >. I do my best work when I'm <strong class="text-zinc-300">
        architecting systems
      </strong> and <strong class="text-zinc-300">automating operations</strong
      >. In my spare time you can catch me {selectRandom(blurb)}. I'm also known
      for {selectRandom(fact)}. Want to learn more? Check the links below!
    </p>
    <!-- <a href="/blog" class="font-bold text-green-400 decoration-2 underline-offset-4 hover:underline">lipsum link</a> -->
    <Socials />
  </section>
</Layout>
