---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";

const title = "Roly Reyes";
const blurb = [
  "being angry at the Windows Registry",
  "breaking my homelab",
  "making Docker containers",
  "obsessing over monospace typography",
  "reading a man page in Terminal.app",
  "reinstalling Windows",
  "writing a shell script",
];
const fact = [
  "being sad I will never play Half-Life 3",
  "being a Neon Genesis Evangelion evangelist",
  "not doing cardio",
  "recommending horror fiction that will ruin your sleep cycle",
  "telling you to watch Cowboy Bebop",
  '"precise gameplay" in Valorant',
  "unprompted praise of The Legend of Zelda: Breath of the Wild's interconnected systems and choseive world design",
];

const selectRandom = (arr) => {
  const randIndex = Math.floor(Math.random() * arr.length);
  return arr[randIndex];
};
---

<Layout title={title}>
  <section class="max-w-screen-md flex flex-col gap-3">
    <h1
      class="w-fit text-7xl font-black uppercase text-transparent bg-clip-text bg-gradient-to-r from-rose-400 via-blue-400 to-violet-500"
    >
      <a href="/">{title}</a>
    </h1>
    <p class="font-mono font-medium">
      <!-- <span class="text-red-400">Infosec</span> -->
      <!-- <span class="text-neutral-700">|</span> -->
      <span class="text-red-400">IT</span>
      <span class="text-neutral-700">|</span>
      <span class="text-emerald-400">Automation</span>
      <span class="text-neutral-700">|</span>
      <span class="text-blue-400">Operations</span>
    </p>
    <p class="max-w-prose">
      I'm an experienced and certified <span class="text-white font-semibold"
        >System Administrator</span
      > specializing in <span class="text-zinc-300"> architecting systems</span>
      and <span class="text-zinc-300">automating operations</span>.
      <!-- Comfortable standing up new infrastrucutre or identifying gaps in existing processes to minimize downtime and improve security posture. -->
    </p>
    <p class="max-w-prose">
      In my spare time you can catch me {selectRandom(blurb)}. I'm also known
      for {selectRandom(fact)}.
    </p>

    <p class="max-w-prose">
      Want to learn more? refresh the page or click the links below!
    </p>
    <!-- <a href="/blog" class="font-bold text-green-400 decoration-2 underline-offset-4 hover:underline">lipsum link</a> -->
    <Socials />
  </section>
</Layout>
