---
import Icon from "@/components/Icon.astro";
---

<footer class="px-[5vw] py-6">
  <div
    class="mx-auto flex max-w-7xl flex-wrap items-center justify-center text-neutral-600"
  >
    <ul class="flex gap-3">
      <Icon icon="github" href="https://github.com/rolyreyes" />
      <Icon
        icon="linkedin"
        href="https://www.linkedin.com/in/rolando-reyes-it/"
      />
      <Icon icon="mail" href="mailto:hi@rolyreyes.com" />
    </ul>
  </div>
</footer>
